<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="CmdLine" type="CmdLineLib.Config.CmdLine, CmdLineLib"/>
  </configSections>
  <CmdLine argStartsWith="@">
    <Parameters>
      <add name="asdf" value="asdfa" />
    </Parameters>
  </CmdLine>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
